<!DOCTYPE html>
<html>
  <head>
    <title>SayonaraSprocketsSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <%= stylesheet_tag %>
    <%= javascript_tag %>
  </body>
</html>
